pipeline/pipeline_ods_tool2go_cms.json
{
	"name": "pipeline_ods_tool2go_cms",
	"properties": {
		"activities": [
			{
				"name": "merge_cms_district",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "merge_cms_blob_info",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_014_tool2go_cms_district_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bidate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_province",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "merge_cms_city",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_015_tool2go_cms_province_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_swiper",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "merge_cms_customer_planning",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_016_tool2go_cms_swiper_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_swiper_advertisement",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "merge_cms_customer_planning_authorization",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_017_tool2go_cms_swiper_advertisement_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_blob_info",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set bizdate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_009_tool2go_cms_blob_info_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_bestsign_template",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set bizdate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_008_tool2go_cms_bestsign_template_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_customer_planning_authorization",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "merge_cms_advertisement_detail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_012_tool2go_cms_customer_planning_authorization_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_customer_planning_detail",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "merge_cms_bestsign_template",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_013_tool2go_cms_customer_planning_detail_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_advertisement_detail",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set bizdate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_007_tool2go_cms_advertisement_detail_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_advertisement",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set bizdate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_006_tool2go_cms_advertisement_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set bizdate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "bizdate",
					"value": {
						"value": "@string(formatDateTime(adddays(addhours(utcnow(),8),-1),'yyyyMMdd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "merge_cms_city",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set bizdate",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_010_tool2go_cms_city_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "merge_cms_customer_planning",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "merge_cms_advertisement",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/work/notebooks/sql_script/sql_ods/sql_ods_merge_tool2go/sql_merge_ods_011_tool2go_cms_customer_planning_df",
						"type": "Expression"
					},
					"baseParameters": {
						"bizdate": {
							"value": "@variables('bizdate')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"bizdate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pipeline_ods_merge/pipeline_ods_merge_tool2go"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-06T08:08:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}