pipeline/PL_APAC_KPI_LOAD_Secure_Order_Files_copy2.json
{
	"name": "PL_APAC_KPI_LOAD_Secure_Order_Files_copy2",
	"properties": {
		"activities": [
			{
				"name": "Get_FileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_APAC_KPI_blob",
						"type": "DatasetReference",
						"parameters": {
							"pFolderName": {
								"value": "@pipeline().parameters.pFolderName",
								"type": "Expression"
							},
							"pContainerName": {
								"value": "@pipeline().parameters.pContainerName",
								"type": "Expression"
							},
							"pSheetIndex": {
								"value": "@pipeline().parameters.pSheetIndex",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ACT_LoadStaging",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_FilestoLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_FilestoLoad').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ACT_TableName",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlMISource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT [table_name] from [apac_kpi_ing].[source_filepath]\nwhere FileList =''' , item().name, '''')",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQLdbmidataplatform",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "NA",
										"Schema": "NA"
									}
								}
							}
						},
						{
							"name": "v_blob_TableName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ACT_TableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@activity('ACT_TableName').output.FirstRow.table_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ACT_APAC_Secure_Order_Land",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "v_blob_TableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlMISink",
									"preCopyScript": {
										"value": "@concat('truncate table ', 'apac_kpi_ing.',variables('TableName'),' SELECT 1 As DUMMY')\n",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureBlobStorage1",
											"type": "LinkedServiceReference"
										},
										"path": "public"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_APAC_KPI_GETDATA",
									"type": "DatasetReference",
									"parameters": {
										"pFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"pFolderName": {
											"value": "@pipeline().parameters.pFolderName",
											"type": "Expression"
										},
										"pContainerName": {
											"value": "@pipeline().parameters.pContainerName",
											"type": "Expression"
										},
										"pSheetIndex": {
											"value": "@pipeline().parameters.pSheetIndex",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQLdbmidataplatform",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@variables('TableName')",
											"type": "Expression"
										},
										"Schema": "apac_kpi_ing"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ACT_FilestoLoad",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_FileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_FileNames').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item().name,'Do_not_delete_this_file.txt'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "final_opportunity_PROCEDURE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_CP_APAC_PWR_STAGE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[final_opportunity_PROCEDURE]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_CP_APAC_PWR_STAGE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_LoadStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlMISink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"Opportunity_Number",
								"PWR_Review_Date",
								"Final_Decision"
							]
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Opportunity_Number",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Opportunity_Number",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Stage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Stage",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Fiscal_Period",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Fiscal_Period",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Close_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Close_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LOB",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LOB",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Gross_Margin_CVT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "Gross_Margin_CVT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Amount_CVT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "Amount_CVT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Quarter",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Quarter",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Display_Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Display_Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SOInM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "SOInM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "SOM_PCT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "SOM_PCT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "SOM_PCT_CHG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "SOM_PCT_CHG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Value_Band",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Value_Band",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Deviation_TM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "Deviation_TM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Value_Stake",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "Value_Stake",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Final_Decision",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Final_Decision",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Previous_Week",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Previous_Week",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Gross_Margin",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "Gross_Margin",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 20,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Oppty_Currency",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Oppty_Currency",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PT_Number",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PT_Number",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PWR_Review_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "PWR_Review_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Final BtW Segment",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Final BtW Segment",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TM_Group",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TM_Group",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "File_Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "File_Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Load_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Load_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Insert_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Insert_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SOM_changes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SOM_changes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SubLOB",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SubLOB",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQLdbmidataplatform",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "apac_pwr_tmp_opportunity",
							"Schema": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQLdbmidataplatform",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "apac_pwr_tmp_opportunity",
							"Schema": "dbo"
						}
					}
				]
			},
			{
				"name": "ACT_Archive_APAC_PWR",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "final_opportunity_PROCEDURE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_FilestoLoad').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ACT_Archive_APAC_PWR_Files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_APAC_KPI_ARCH",
									"type": "DatasetReference",
									"parameters": {
										"pSrcArchFolderName": "@pipeline().parameters.pFolderName",
										"pFileName": "@item().name",
										"pContainerName": "@pipeline().parameters.pContainerName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_APAC_KPI_ARCH",
									"type": "DatasetReference",
									"parameters": {
										"pSrcArchFolderName": "@concat(pipeline().parameters.pArchiveFolderName,'/',pipeline().parameters.pFolderName,'_',formatDateTime(utcNow(),'dd-MM-yyyy'))",
										"pFileName": "@item().name",
										"pContainerName": {
											"value": "@pipeline().parameters.pContainerName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pFolderName": {
				"type": "string",
				"defaultValue": "mapping_folder"
			},
			"pSheetIndex": {
				"type": "string",
				"defaultValue": "0"
			},
			"pContainerName": {
				"type": "string",
				"defaultValue": "ordersecurecn"
			},
			"pArchiveFolderName": {
				"type": "string",
				"defaultValue": "Archieve_folder"
			}
		},
		"variables": {
			"vFileName": {
				"type": "String"
			},
			"TableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "apac_sandbox_poc"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-29T01:32:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}